body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 48px;
    color: darkslategray;
}

h2{
    font-size: 24px;
    color: darkslategray;
}

p{
    font-size: 22px;
    background-color: beige;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p:hover{
    border: 2px solid grey;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1232px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.nav{
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav__btn{
    text-decoration: none;
    margin-left: 5px;
}